﻿@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = "Login";
}
@model StaticCRUD.Models.UserLoginModel

<main>
    <div class="container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center w-auto">
                                <img src="~/img/logo3.png" alt="">
                                <span class="d-none d-lg-block">Coffee Shop</span>
                            </a>
                        </div><!-- End Logo -->
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                    <p class="text-center small @((TempData["Message"] != null) ? "text-danger":"")">
                                        @((TempData["Message"] != null) ? TempData["Message"] : "Enter your Email & Password to login")
                                    </p>
                                </div>
                                <form class="row g-3" asp-action="UserLogin" asp-controller="User" method="post">
                                    <div class="col-12">
                                        <label asp-for="Email" class="form-label">Email<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="inputGroupPrepend">@@</span>
                                            <input type="text" asp-for="Email" class="form-control">
                                        </div>
                                        <span asp-validation-for="Email" style="color:red"></span>
                                    </div>
                                    <div class="col-12">
                                        <label asp-for="Password" class="form-label">Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input type="password" asp-for="Password" class="form-control" id="passwordInput" >
                                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                                <i class="bi bi-eye" id="toggleIcon"></i>
                                            </button>
                                        </div>
                                        <span asp-validation-for="Password" style="color:red"></span>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <input class="btn btn-primary w-100" type="submit" value="Login">
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a asp-controller="User" asp-action="UserRegister">Create an account</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main><!-- End #main -->
<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordInput = document.getElementById('passwordInput');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            document.getElementById('toggleIcon').classList.remove('bi-eye');
            document.getElementById('toggleIcon').classList.add('bi-eye-slash');
        } else {
            passwordInput.type = 'password';
            document.getElementById('toggleIcon').classList.remove('bi-eye-slash');
            document.getElementById('toggleIcon').classList.add('bi-eye');
        }
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}